@font-face {
    font-family: 'fontawesome-selected';
    src: url("../font/fontawesome-selected.eot?#iefix") format('embedded-opentype'),
         url("../font/fontawesome-selected.woff") format('woff'),
         url("../font/fontawesome-selected.ttf") format('truetype'),
         url("../font/fontawesome-selected.svg#fontawesome-selected") format('svg');
    font-weight: normal;
    font-style: normal;
}

.calendar-wrap {
	position: relative;
	overflow: hidden;
}

.calendar-wrap .inner {
	background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}

.calendar-wrap .inner:before,
.calendar-wrap .inner:after  {
	content: '';
	width: 99%;
	height: 50%;
	position: absolute;
	background: #f6f6f6;
	bottom: -4px;
	left: 0.5%;
	z-index: -1;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.calendar-wrap .inner:after {
	content: '';
	width: 98%;
	bottom: -7px;
	left: 1%;
	z-index: -2;
}

.calendar-wrap .header {
	background: #fff;
	padding: 5px 10px 10px 20px;
	height: 40px;
	position: relative;
	border-top: 5px solid #C45357;
	border-bottom: 1px solid #ddd;
}

.calendar-wrap .header h2,
.calendar-wrap .header h3 {
	text-transform: uppercase;
    display: inline;
}

.calendar-wrap .header h2 {
	color: #495468;
	font-weight: 300;
	font-size: 18px;
	margin-top: 10px;
}

.calendar-wrap .header h3 {
	font-size: 10px;
	font-weight: 700;
	color: #b7bbc2;
}

.calendar-wrap .header nav{
    display: inline-block;
}

.calendar-wrap .header nav span {
	top: 17px;
	width: 30px;
	height: 30px;
	color: transparent;
	cursor: pointer;
	margin: 0 1px;
	font-size: 20px;
	line-height: 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.calendar-wrap .header nav span:before {
	font-family: 'fontawesome-selected';
	color: #C45357;
	text-align: center;
	width: 100%;
}

.calendar-wrap .header nav span.prev:before {
	content: '\25c2';
}

.calendar-wrap .header nav span.next:before {
	content: '\25b8';
}

.calendar-wrap .header nav span:hover:before {
	color: #495468;
}

.calendar-wrap .content-reveal {
	background: #f6f6f6;
	background: rgba(246, 246, 246, 0.9);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 0px;
	text-align: center;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.calendar-wrap .content-reveal span.content-close {
	position: absolute;
	top: 15px;
	right: 10px;
	width: 20px;
	height: 20px;
	text-align: center;
	background: #C45357;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
    line-height: 18px;
	padding: 0;
}

.calendar-wrap .content-reveal span.content-close:after {
	content: 'x';
	font-size: 18px;
	color: #fff;
}

.calendar-wrap .content-reveal .content-reveal-body{
    overflow: auto;
    height: 318px;
}

.calendar-wrap .content-reveal .fc-event{
    margin-bottom: 15px;
}

.calendar-wrap .content-reveal a,
.calendar-wrap .content-reveal span {
	font-size: 16px;
	padding: 5px 10px;
    display: block;
}

.calendar-wrap .content-reveal .fc-event-hour{
    color: #C45357;
    border-bottom: solid 1px  #C45357;
    margin: 5px 20px;
}

.calendar-wrap .content-reveal h4 {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #777;
	padding: 20px;
	background: #fff;
	border-bottom: 1px solid #ddd;
	border-top: 5px solid #C45357;
	box-shadow: 0 1px rgba(255,255,255,0.9);
}

.calendar-wrap .content-reveal .button{
    margin-bottom: 5px;
}

.calendar-wrap .content-reveal span {
	color: #888;
}

.calendar-wrap .content-reveal a {
	color: #C45357;
}

.calendar-wrap .content-reveal a:hover {
	color: #333;
}

/* Modifications */

.fc-calendar-container {
	height: 400px;
	width: auto;
	padding: 30px;
	background: #f6f6f6;
	box-shadow: inset 0 1px rgba(255,255,255,0.8);
}

.fc-calendar .fc-head {
	background: transparent;
	color: #C45357;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
}

.fc-calendar .fc-row > div {
	background: #fff;
	cursor: pointer;
}

.fc-calendar .fc-row > div:empty {
	background: transparent;
}

.fc-calendar .fc-row > div > span.fc-date {
	top: 50%;
	left: 50%;
	text-align: center;
	margin: -10px 0 0 -15px;
	color: #686a6e;
	font-weight: 400;
	pointer-events: none;
}

.fc-calendar .fc-row > div.fc-today {
	background: #C45357;
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.1);
}

.fc-calendar .fc-row > div.fc-today > span.fc-date {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.fc-calendar .fc-row > div.fc-content > div.fc-events{
    display: none;
}

.fc-calendar .fc-row > div.fc-content:after {
	content: '\00B7';
	text-align: center;
	width: 20px;
	margin-left: -10px;
	position: absolute;
	color: #DDD;
	font-size: 70px;
	line-height: 20px;
	left: 50%;
	bottom: -3px;
}

.fc-calendar .fc-row > div.fc-today.fc-content:after {
	color: #b02c42;
}

.fc-calendar .fc-row > div.fc-content:hover:after{
	color: #C45357;
}

.fc-calendar .fc-row > div.fc-today.fc-content:hover:after{
	color: #fff;
}

.fc-calendar .fc-row > div > div a,
.fc-calendar .fc-row > div > div span {
	display: none;
	font-size: 22px;
}

.fc-event-form  .columns{
    padding-left: 2px;
    padding-right: 2px;
}

@media screen and (max-width: 400px) {
	.fc-calendar-container {
		height: 300px;
	}
	.fc-calendar .fc-row > div > span.fc-date {
		font-size: 15px;
	}
}
