@charset "UTF-8";

@import "compass/css3";
@import "vars";

body {
  position: relative;
  background: white;
  -webkit-font-smoothing: antialiased;
}

.top-bar {
  overflow: hidden;
  .name h1 a {
    color: #C45357;
  }

  .top-bar-section {
    .left{
      margin-left: 100px;
    }

    .important a{
      color: #992b2f;
    }

    .search{
      display: table;
      width: 400px;

      form{
        display: table-cell;
        vertical-align: middle;

        input{
          top: 0;
        }
      }
    }
  }
}

header{
  background: #C45357;
  height: 100px;
}

nav.breadcrumbs{
  height: 35px;
  line-height: 35px;
  background: #444;
  padding-left: 20px;
  &, a{
    color: #ededed;
  }
}


section#main{
  background: #fafafa;
  min-height: 800px;
  padding: 20px 50px;

  .search-results{
    h4{
      text-align: center;
    }
  }

  .ccm-page-list{
    .page{
      margin-bottom: 30px;
    }
  }

  .rss{
    .item{
      margin: 20px 0;

      .date{
        color: grey;
        font-size: 13px;
        width: 35px;
      }

      .summary{
        margin-top: 10px;
        padding-left: 35px;
      }
    }
  }

  .aside-menu{
    &.fixed{
      top: 50px !important;
      left: auto !important;

      ul{
        max-width: 200px;
      }
    }
  }
}

footer{
  height: 100px;
  background: #444;
  color: white;
  padding: 20px;
  text-align: center;
}


.ccm-ui select, .ccm-ui input{
  line-height: normal;
  height: 28px;
}