/* Background color for the top bar */
/* Height and margin */
/* Control Input height for top bar */
/* Controlling the styles for the title in the top bar */
/* Style the top bar dropdown elements */
/* Set the link colors and styles for top-level nav */
/* Top menu icon styles */
/* Divider Styles */
body {
  position: relative;
  background: white;
  -webkit-font-smoothing: antialiased;
}

.top-bar {
  overflow: hidden;
}
.top-bar .name h1 a {
  color: #C45357;
}
.top-bar .top-bar-section .left {
  margin-left: 100px;
}
.top-bar .top-bar-section .important a {
  color: #992b2f;
}
.top-bar .top-bar-section .search {
  display: table;
  width: 400px;
}
.top-bar .top-bar-section .search form {
  display: table-cell;
  vertical-align: middle;
}
.top-bar .top-bar-section .search form input {
  top: 0;
}

header {
  background: #C45357;
  height: 100px;
}

section#main {
  background: #fafafa;
  min-height: 800px;
  padding: 20px 50px;
}
section#main .search-results h4 {
  text-align: center;
}
section#main .ccm-page-list .page {
  margin-bottom: 30px;
}
section#main .rss .item {
  margin: 20px 0;
}
section#main .rss .item .date {
  color: grey;
  font-size: 13px;
  width: 35px;
}
section#main .rss .item .summary {
  margin-top: 10px;
  padding-left: 35px;
}

footer {
  height: 100px;
  background: #444;
  color: white;
  padding: 20px;
  text-align: center;
}
