/* Background color for the top bar */
/* Height and margin */
/* Control Input height for top bar */
/* Controlling the styles for the title in the top bar */
/* Style the top bar dropdown elements */
/* Set the link colors and styles for top-level nav */
/* Top menu icon styles */
/* Divider Styles */
/* Magelan */
/* Breadcrumbs */
body {
  position: relative;
  background: white;
  -webkit-font-smoothing: antialiased;
}

.top-bar .top-bar-section .important a {
  color: #e2353b;
}
.top-bar .top-bar-section .left {
  padding-left: 5px;
  border-left: 4px #fc5050 solid;
}
.top-bar .top-bar-section .search {
  display: table;
  width: 400px;
}
.top-bar .top-bar-section .search form {
  display: table-cell;
  vertical-align: middle;
}
.top-bar .top-bar-section .search form input {
  top: 0;
}

header {
  background: #e2353b;
  height: 77px;
  border-top: 4px #FC5050 solid;
}

nav.breadcrumbs {
  height: 35px;
  line-height: 35px;
  background: #444;
  padding-left: 20px;
}
nav.breadcrumbs, nav.breadcrumbs a {
  color: #ededed;
}

section#main {
  background: #fafafa;
  min-height: 800px;
  padding: 20px 50px;
}
section#main .search-results h4 {
  text-align: center;
}
section#main .ccm-page-list .page {
  margin-bottom: 30px;
}
section#main .rss .item {
  margin: 20px 0;
}
section#main .rss .item .date {
  color: grey;
  font-size: 13px;
  width: 35px;
}
section#main .rss .item .summary {
  margin-top: 10px;
  padding-left: 35px;
}
section#main .aside-menu.fixed {
  top: 50px !important;
  left: auto !important;
}
section#main .aside-menu.fixed ul {
  max-width: 200px;
}

footer {
  height: 100px;
  background: #444;
  color: white;
  padding: 20px;
  text-align: center;
}

.ccm-ui select, .ccm-ui input {
  line-height: normal;
  height: 28px;
}
